/* Write your code here */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Quicksand', sans-serif;
}
.app-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: #000;
}
/* Background Effoct */
.container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2px;
  flex-wrap: wrap;
  overflow: hidden;
}
.background-box span {
  width: calc(6.25vw - 2px);
  height: calc(6.25vw - 2px);
  background: #131212;
  z-index: 2;
  transition: 1.5s;
}
.background-box span:hover {
  background: #0f0;
  transition: 0s;
}
.container::before {
  content: '';
  position: absolute;
  min-width: 100%;
  min-height: 100%;
  background: linear-gradient(#000,#0f0,#000);
  animation: Animate 5s linear infinite;
}
/* Background Animation and Responsive */
@keyframes Animate {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(100%);
  }
}
@media only screen and (max-width: 1350px)
{
  .background-box span {
    width: calc(6.6vw - 1.5px);
    height: calc(6.6vw - 1.5px);
  }
}
@media only screen and (max-width: 1200px)
{
  .background-box span {
    width: calc(8vw - 6px);
    height: calc(8vw - 2px);
  }
}
@media only screen and (max-width: 1000px)
{
  .background-box span {
    width: calc(10vw - 2px);
    height: calc(10vw - 2px);
  }
}
@media only screen and (max-width: 800px)
{
  .background-box span {
    width: calc(12.5vw - 2px);
    height: calc(12.5vw - 2px);
  }
}
@media only screen and (max-width: 600px)
{
  .background-box span {
    width: calc(14.3vw - 2px);
    height: calc(14.3vw - 2px);
  }
}